extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update 
  else 
  form(id='EmployeeForm', action="/resource/employee", method="PUT") 
    div.form-group 
        label.employeeAttr(for='ID') Employee id 
        input#ID(type='text', name='ID') 
    div.form-group 
        label.employeeAttr(for='age') Employee age 
        input#age(type='text', name='age') 
    div.form-group 
        label.employeeAttr(for='salary') Employee salary
        input#salary(type='number', name='salary') 
    input(type="submit") 
 
  script. 
    document.forms['EmployeeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 